<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit device</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
    <center><div id="container">
        <form class="device_form" >
            <p class="name">
                <label>Название устройства</label><br>
                <input type="text" id="name" required value={{ resp.device['name'] }} />
            </p>
            <p class="description">
                <label>Описание устройства</label><br>
                <input type="text" id="description" required value={{ resp.device['description'] }} />
            </p>
            <p class="dev_eui">
                <label>EUI устройства</label><br>
                <input type="text" id="dev_eui" required value={{ resp.device['dev_eui'] }} />
            </p>
            <p class="device_profile_id">
                <label>Profile ID устройства</label><br>
                <input type="text" id="device_profile_id" required value={{ resp.device['device_profile_id'] }} />
            </p>
            <p class="skip_f_cnt_check">
                <label>Отключить frame-counter validation</label><br>
                <input type="checkbox" id="skip_f_cnt_check" value={{ resp.device['skip_f_cnt_check'] }} />
            </p>
            <p class="is_disabled">
                <label>Устройство отключено</label><br>
                <input type="checkbox" id="is_disabled" value={{ resp.device['is_disabled'] }} />
            </p>
            <p class="nwk_key">
                <label>Сетевой ключ</label><br>
                <input type="text" id="nwk_key" required value={{ key.device_keys['nwk_key'] }} />
            </p>

            <p class="send" >
                <input type="submit" onclick="editDevice()" value="ОБНОВИТЬ УСТРОЙСТВО"  />
            </p>
            <p class="devices" >
                <input type="button" onclick="window.location.href = location.origin + '/devices';" value="СПИСОК УСТРОЙСТВ" />
            </p>
        </form>
    </div></center>

    <script>
        function editDevice() {
            let name = document.querySelector('#name');
            let description = document.querySelector('#description');
            let dev_eui = document.querySelector('#dev_eui');
            let device_profile_id = document.querySelector('#device_profile_id');
            let skip_f_cnt_check = document.querySelector('#skip_f_cnt_check');
            let is_disabled = document.querySelector('#is_disabled');
            let nwk_key = document.querySelector('#nwk_key');

            let result = document.querySelector('.result');
            let xhr = new XMLHttpRequest();
            let url = location.pathname;

            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert(this.responseText);
                    result.innerHTML = this.responseText;
                }
            };

            var data = JSON.stringify({
                "name": name.value,
                "description": description.value,
                "dev_eui": dev_eui.value,
                "device_profile_id": device_profile_id.value,
                "skip_f_cnt_check": skip_f_cnt_check.checked,
                "is_disabled": is_disabled.checked,
                "nwk_key": nwk_key.value
            });
            xhr.send(data);
        }
    </script>
</body>
</html>