<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
</head>
<body>
    <div id="container">
        <input type="submit" onclick="window.location.href = location.pathname + '/create';" value="Создать" />
        <input type="submit" onclick="editDevice();" value="Изменить" />
        <input type="submit" onclick="deleteDevice();" value="Удалить" />
    </div>
    <select id="select" size="10">
        <option SELECTED value="s1">{{ resp.result[0] }}</option>
        <option value="s2">{{ resp.result[1] }}</option>
        <option value="s3">{{ resp.result[2] }}</option>
        <option value="s4">{{ resp.result[3] }}</option>
        <option value="s5">{{ resp.result[4] }}</option>
    </select>

    <script>
        function editDevice() {
            var n = document.getElementById("select").options.selectedIndex;
            var txt = document.getElementById("select").options[n].text;
            var dev_eui = "";
            var vars = txt.split(' ');
            for (var i = 0; i < vars.length; i++) {
                if (vars[i] == "dev_eui:") {
                    dev_eui = vars[i + 1].slice(1, -1);;
                }
            }
            window.location.href = location.pathname + 'edit/' + dev_eui;
        }

        function deleteDevice() {
            var n = document.getElementById("select").options.selectedIndex;
            var txt = document.getElementById("select").options[n].text;

            let result = document.querySelector('.result');
            let xhr = new XMLHttpRequest();
            let url = location.pathname + "delete";

            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert(this.responseText);
                    result.innerHTML = this.responseText;
                }
            };

            vars = txt.split(' ');
            for (var i = 0; i < vars.length; i++) {
                if (i % 2)
                {
                    if (i < vars.length -1)
                        vars[i] = vars[i] + ',';
                }
                else
                    vars[i] = '"' + vars[i].substring(0, vars[i].length - 1) + '":';
            }
            txt = '{' + vars.join(' ') + '}';

            var data = JSON.parse(txt);
            xhr.send(txt);
            window.location.reload();
        }
    </script>
</body>
</html>